:root {
  --ff-primary: "Inter", sans-serif;
  --ff-display: "Neuton", serif;
  --fs-xl: clamp(3.5rem, 6vw + 1rem, 5rem);
  --fs-600: clamp(3.25rem, 6vw + 1rem, 4rem);
  --fs-500: 2rem;
  --fs-400: 1.8rem;
  --color-font: #11347d;
  --color-primary: #ffc600;
  --color-green: #00ce7c;
  --color-yellow: #fdd01b;
  --color-blue: #275fac;
  --color-red: #db3445;
  --color-white: #f5f5f5;
  --color-grey: #363636;
  --z-index-negative: -1;
  --z-index-box: 1000;
  --z-index-popup: 1100;
  --z-index-modal: 1200;
  --z-index-loader: 1300;
}
@media screen and (min-width: var(--bp-xl)) {
  :root :root {
    --fs-500: 2.75rem;
    --fs-400: 2.5rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

*:focus {
  outline-color: var(--color-blue);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: calc(15px + 0.2vw);
  font-family: var(--ff-primary);
  line-height: 1.6;
  text-rendering: optimizeSpeed;
}

::selection {
  background-color: var(--color-yellow);
  color: var(--color-grey);
}

a:hover,
button:hover {
  cursor: pointer;
}

button {
  font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s all;
}

input,
textarea {
  border: none;
}

table {
  contain: strict;
}

p {
  max-width: 70ch;
}
p:not(:last-child) {
  margin-bottom: 1rem;
}

.heading--1, .heading--2, .heading--3 {
  font-family: var(--ff-primary);
  max-width: 70ch;
}
.heading--1 {
  font-weight: 900;
  line-height: 1;
}
.heading--2 {
  color: #8892b0;
  color: grey;
  max-width: 28ch;
  line-height: 1.1;
  font-weight: 400;
  font-size: calc(var(--fs-500) * 1.1);
}
.heading--2 span {
  font-size: calc(var(--fs-500));
  color: #8191e6;
  color: var(--color-primary);
}
@media screen and (min-width: 45em) {
  .heading--2 {
    font-size: calc(var(--fs-500) * 2.09);
    line-height: 0.8;
    max-width: 30ch;
  }
}
.heading--3 {
  text-align: center;
  color: var(--color-red);
  text-shadow: 3px 3px 0px var(--color-white);
}
.heading--3 span {
  color: var(--color-font);
}

.text-width {
  max-width: 70ch;
}
.text-width:not(:last-child) {
  margin-bottom: 1rem;
}

.header {
  display: grid;
  grid-gap: 3rem;
  justify-items: start;
}
.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
}
.header__title span:first-of-type {
  display: block;
  color: var(--color-primary);
  font-size: calc(var(--fs-500));
  font-weight: 400;
}
.header__title span:nth-of-type(2) {
  display: block;
  font-size: calc(var(--fs-600) * 1.4);
}
@media screen and (min-width: 45em) {
  .header__title span:nth-of-type(2) {
    font-size: calc(var(--fs-600) * 3);
  }
}
.header__title span:nth-of-type(3) {
  display: block;
  font-size: calc(var(--fs-600) * 1.075);
}
@media screen and (min-width: 45em) {
  .header__title span:nth-of-type(3) {
    font-size: calc(var(--fs-600) * 2.0585);
  }
}
@media screen and (min-width: 45em) {
  .header__title {
    grid-gap: 2rem;
  }
}
.header__image {
  background-color: transparent;
  border: none;
  width: auto;
}
.header__image img {
  height: 100%;
}
.header__image .eyebrows,
.header__image .mouth,
.header__image .cheeks {
  transition: transform 0.2s linear;
}
.header__image:hover .mouth {
  transform: rotate(-1deg) skewX(0.5deg);
}
.header__image:hover .cheeks {
  transform: rotate(-0.8deg);
}
.header__image:hover .eyebrows {
  transform: translateY(-3%);
}

.layout {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  padding: 11rem 1.5rem 2rem;
  color: var(--color-white);
  background-color: #8191e6;
  background-color: #141b1f;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  align-self: start;
  width: 100%;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  padding: 2rem 1.5rem 1rem;
}
@media screen and (min-width: 45em) {
  .nav {
    padding: 1rem 2rem;
    grid-template-columns: 1fr 5fr 1fr;
  }
}
.nav__list--wrapper {
  position: absolute;
  font-family: var(--ff-display);
  background-color: var(--color-primary);
  display: grid;
  align-items: center;
  justify-items: center;
  animation: fade-in 0.2s ease-in-out;
  height: 100vh;
  inset: 0;
  opacity: 0;
  display: none;
  z-index: var(--z-index-popup);
}
@media screen and (min-width: 45em) {
  .nav__list--wrapper {
    display: grid;
    opacity: 1;
    height: auto;
    background-color: transparent;
    position: relative;
  }
}
.nav__items {
  display: grid;
  grid-gap: 1rem;
}
@media screen and (min-width: 45em) {
  .nav__items {
    grid-auto-flow: column;
    grid-gap: 2rem;
  }
}
.nav__link {
  display: grid;
  width: 100%;
  height: 100%;
}
.nav__logo {
  display: none;
}
.nav__logo img {
  transition: all 0.2s linear;
}
@media screen and (min-width: 45em) {
  .nav__logo {
    display: block;
    width: 5rem;
  }
}
.nav__settings {
  position: relative;
  justify-self: end;
  transform: translateY(-0.5rem);
}
@media screen and (min-width: 45em) {
  .nav__settings {
    transform: translateY(0);
  }
}

.hamburger {
  border: none;
  transform: translateY(-0.5rem);
}

.settings__control {
  position: absolute;
  top: -7rem;
  left: -8rem;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  z-index: -1;
  display: grid;
  grid-auto-flow: column;
  align-items: end;
  justify-items: center;
  justify-content: center;
  grid-gap: 4rem;
}
.settings__control > .btn--control-theme:first-child, .settings__control > .btn--control-sound:first-child {
  transform: translateY(-4.5rem) translateX(-1.5rem);
}
.settings__control > .btn--control-theme:nth-child(2), .settings__control > .btn--control-sound:nth-child(2) {
  transform: translateY(-2rem) translateX(-4rem);
}

.hidden {
  opacity: 0;
  display: none;
}

.visible {
  opacity: 1;
  display: grid;
}

.btn {
  position: relative;
  text-decoration: none;
  border: none;
  height: 3.5rem;
  background-color: transparent;
  width: fit-content;
  cursor: pointer;
  width: 13rem;
  z-index: var(--z-index-popup);
}
.btn:active :after {
  transform: translate3d(4px, 4px, 4px);
}
.btn:hover :after {
  background-color: #8191e6;
}
.btn ::before,
.btn ::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12vh;
  border: 1px solid #000;
  z-index: -1;
}
.btn ::before {
  content: "";
  background-color: var(--color-white);
  transform: translate(4px, 4px);
}
.btn ::after {
  content: attr(data-title);
  display: grid;
  align-content: center;
  justify-items: center;
  color: #000;
  background-color: var(--color-primary);
  transition: background-color 0.125s linear, transform 0.125s ease-out;
}
.btn--close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4rem;
}
.btn--close:hover :after {
  background-color: var(--color-red);
}
@media screen and (min-width: 45em) {
  .btn--close {
    display: none;
  }
}
.btn--settings, .btn--control-theme, .btn--control-sound {
  width: 4rem;
  font-size: 2rem;
}
.btn--settings:hover :after, .btn--control-theme:hover :after, .btn--control-sound:hover :after {
  background-color: var(--color-white);
}

@media screen and (min-width: 45em) {
  .hamburger {
    display: none;
  }
}
.hamburger__text {
  color: black;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes eyebrow {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-3%);
  }
}
@keyframes cheeks {
  10% {
    transform: rotate(-0.2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-0.2deg);
  }
  100% {
    transform: rotate(-0.2deg);
  }
}
@keyframes mouth {
  10% {
    transform: rotate(-0.3deg) scale(1.05);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  70% {
    transform: rotate(-0.3deg) scale(1.05);
  }
  100% {
    transform: rotate(-0.3deg) scale(1.05);
  }
}

/*# sourceMappingURL=style.css.map */
