@use "../abstracts/" as *;

.about {
  display: grid;
  grid-gap: 4rem;
  justify-items: center;
  align-content: flex-start;

  &:hover &__image {
    transform: rotate(-2deg);
    & picture:nth-child(2) {
      display: block;
    }
  }

  &__layout {
    display: grid;
    column-gap: 2rem;
    row-gap: 4rem;
    justify-items: center;
    align-items: center;

    @media screen and (min-width: $bp-md) {
      grid-template-columns: 2fr 1fr;
      grid-auto-columns: 1fr;
    }
  }

  &__title {
    justify-self: start;
  }

  &__image {
    max-width: 18rem;
    transition: all 0.1s ease-in-out;

    & picture {
      aspect-ratio: 1599 / 2132;
    }

    @media screen and (min-width: $bp-lg) {
      max-width: 23rem;
      justify-self: end;
    }

    & picture:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }
  }

  &__skills {
    display: grid;

    grid-gap: 1rem;
    justify-self: start;

    @media screen and (min-width: $bp-md) {
      grid-column: span 2;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2rem;
    color: var(--color-accent-secondary);
  }
  &__item {
    display: grid;
    align-items: end;
    font-size: 4rem;
    text-align: center;

    & span {
      font-size: calc(var(--fs-base) - 0.7rem);
      display: block;
      font-family: var(--ff-primary);
      font-weight: 400;
      text-transform: uppercase;
    }

    &:hover {
      color: var(--color-accent-primary);
    }

    &:hover &--icon {
      fill: var(--color-accent-primary);
    }

    &--icon {
      fill: var(--color-accent-secondary);
      height: 4rem;
      width: auto;
    }
  }
}
