@use "../abstracts/" as *;

.about {
  display: grid;
  grid-gap: 2rem;
  // background-color: pink;
  // justify-content: start;
  min-height: 100vh;
  padding: 5rem 1rem;
  justify-items: center;
  align-content: flex-start;

  max-width: $bp-md;

  &__layout {
    display: grid;
    grid-gap: 2rem;
    justify-items: center;
    align-items: center;

    @media screen and (min-width: $bp-lg) {
      grid-auto-flow: column;
      // grid-gap: 1rem;
    }
  }

  &__title {
    justify-self: start;
  }

  &__content {
    // width: 70%;
    // display: grid;
    // justify-content: end;
  }

  &__image {
    max-width: 25rem;
    // position: relative;

    & img:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      // opacity: 1;
    }

    &:hover {
      // z-index: -1;
      transform: rotate(-5deg);
      & img:nth-child(2) {
        display: block;
      }
    }

    // &:hover img:nth-child(2) {
    //   display: block;
    // }
  }
}
