@use "../abstracts/" as *;

.contact {
  //   max-width: $bp-md;

  &__wrapper {
    // height: 25rem;
    // background-color: pink;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form {
    width: 92vw;
    margin: 2rem 0;
    display: grid;
    grid-gap: 2rem;

    @media screen and (min-width: $bp-md) {
      width: $bp-md;
    }
  }

  &__form--field {
    display: grid;
    // background-color: pink;
  }

  &__alert {
    position: absolute;
    top: -3rem;
    transform: translateX(50%, 50%);
    border: 2px solid var(--color-accent-secondary);
    padding: 1rem;
    // background: var(--color-foreground);
    // color: var(--color-background);
  }
}
