@use "../abstracts/" as *;

.contact {
  //   max-width: $bp-md;
  display: grid;
  grid-gap: 2rem;

  &__wrapper {
    // height: 25rem;
    // background-color: pink;
    position: relative;
    display: grid;
    align-items: start;
    // justify-content: start;

    @media screen and (min-width: $bp-md) {
      grid-auto-flow: column;
    }
  }

  &__form {
    width: 92vw;
    margin: 2rem 0;
    display: grid;
    grid-gap: 2rem;

    @media screen and (min-width: $bp-lg) {
      width: $bp-md;
    }
  }

  &__form--field {
    display: grid;
    // background-color: pink;
  }

  &__alert {
    position: absolute;
    transform: translateX(50%, 50%);
    border: 2px solid var(--color-accent-secondary);
    padding: 0.5rem 1rem;
    background: var(--color-foreground);
    color: var(--color-background);
    text-align: center;
    font-size: var(--fs-400);

    &--form {
      top: -1.5rem;
    }

    &--email {
      top: -5rem;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 10rem;
    }
  }

  &__email {
    position: relative;
    display: inline;
  }

  &__text {
    // position: relative;

    & .highlight--line {
      cursor: pointer;

      // color: var(--color-accent-primary);
      // font-weight: 900;
    }
  }

  &__list {
    display: grid;
    grid-gap: 0.5rem;
    font-size: var(--fs-400);
  }

  &__item {
    display: flex;
    align-items: center;
    grid-gap: 1rem;

    & span {
      font-size: calc(var(--fs-400) + 1rem);
      // display: block;
      // font-family: var(--ff-primary);
      font-weight: 400;
      text-transform: uppercase;
      color: var(--color-accent-secondary);
    }
  }

  // &__text {
  //   justify-self: start;
  // }

  &__logo {
    display: none;
    justify-self: end;

    @media screen and (min-width: $bp-lg) {
      display: block;
      width: 28rem;
    }
  }
}
