@use "../abstracts/" as *;

.header {
  width: 100%;
  display: grid;
  grid-gap: 1.5rem;
  justify-items: center;
  padding: 0 0 8rem;
  max-width: $bp-md;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;

    & span:nth-of-type(2) {
      display: block;
      font-size: calc(var(--fs-600) * 1.5);

      @media screen and (min-width: $bp-md) {
        font-size: calc(var(--fs-600) * 3);
      }
    }

    & span:nth-of-type(3) {
      display: block;
      font-size: calc(var(--fs-600) * 1.175);

      @media screen and (min-width: $bp-md) {
        font-size: calc(var(--fs-600) * 2.0585);
      }
    }

    @media screen and (min-width: $bp-md) {
      grid-gap: 2rem;
    }
  }

  &__image {
    background-color: transparent;
    border: none;
    display: none;
    width: auto;
    height: 12rem;

    @media screen and (min-width: $bp-min) {
      display: block;
    }
    @media screen and (min-width: $bp-md) {
      height: 22rem;
    }

    & img {
      height: 100%;
    }

    &--text {
      position: absolute;
      bottom: -5rem;
      left: 2rem;
      width: 15rem;

      @media screen and (min-width: $bp-md) {
        bottom: -9rem;
        left: 4rem;
        width: 25rem;
      }
    }
  }

  &__tagline {
    justify-self: center;
    display: grid;
    grid-gap: 1.5rem;
  }

  &__links {
    display: flex;
    grid-gap: 2rem;
    font-size: calc(var(--fs-500) + 0.5rem);
    color: var(--color-accent-primary);
  }

  &__image,
  &__eyebrows,
  &__mouth,
  &__cheeks {
    transition: transform 0.2s linear;
  }

  &:hover {
    .header__image {
      transform: rotate(4deg);
    }

    .header__mouth {
      transform: rotate(-1deg) skewX(0.5deg);
    }
    .header__cheeks {
      transform: rotate(-0.8deg);
    }
    .header__eyebrows {
      transform: translateY(-3%);
    }
  }
}
