@use "../abstracts/" as *;

.header {
  //   background-color: pink;
  // align-self: start;
  // padding: 1rem;
  margin-top: 8rem;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0.9;
    grid-gap: 1rem;
    font-weight: 900;

    & span:first-of-type {
      display: block;
      font-size: calc(var(--fs-600) * 1.4);

      @media screen and (min-width: $bp-md) {
        font-size: calc(var(--fs-600) * 3.5);
      }
    }

    & span:nth-of-type(2) {
      display: block;
      font-size: calc(var(--fs-600) * 1.075);
      //   color: var(--color-blue);

      @media screen and (min-width: $bp-md) {
        font-size: calc(var(--fs-600) * 2);
      }
    }
  }

  &__image {
    // position: relative;
    background-color: transparent;
    border: none;
    // height: 100%;
    width: auto;

    & img {
      //   position: absolute;
      //   top: 0;
      height: 100%;
    }
  }
}
