@use "../abstracts/" as *;

.header {
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
  padding: 0 0 8rem;
  max-width: $bp-md;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;

    & span:nth-of-type(2) {
      display: block;
      font-size: calc(var(--fs-600) * 1.5);

      @media screen and (min-width: $bp-sm) {
        font-size: calc(var(--fs-600) * 3);
      }
    }

    & span:nth-of-type(3) {
      display: block;
      font-size: calc(var(--fs-600) * 1.175);

      @media screen and (min-width: $bp-sm) {
        font-size: calc(var(--fs-600) * 2.0585);
      }
    }

    @media screen and (min-width: $bp-sm) {
      grid-gap: 2rem;
    }
  }

  &__image {
    background-color: transparent;
    border: none;
    display: none;
    width: auto;
    max-height: 12rem;

    @media screen and (min-width: $bp-min) {
      display: block;
    }
    @media screen and (min-width: $bp-md) {
      max-height: 22rem;
    }

    & img {
      height: 100%;
    }

    .header__mouth {
      animation: 4s mouthHead 1s ease-in-out;
    }
    .header__cheeks {
      animation: 4s cheeksHead 1s ease-in-out;
    }
    .header__eyebrows {
      animation: 4s eyebrowHead 1s ease-in-out;
    }

    .header__eyebrows,
    .header__mouth,
    .header__cheeks {
      transition: transform 0.2s linear;
    }

    &:hover {
      .header__mouth {
        transform: rotate(-1deg) skewX(0.5deg);
      }

      .header__cheeks {
        transform: rotate(-0.8deg);
      }

      .header__eyebrows {
        transform: translateY(-3%);
      }
    }

    &--text {
      position: absolute;
      bottom: -5rem;
      left: 2rem;
      width: 15rem;

      @media screen and (min-width: $bp-sm) {
        bottom: -9rem;
        left: 4rem;
        width: 25rem;
      }
    }
  }
}
