@use "../abstracts" as *;

.layout {
  // display: grid;
  // align-content: start;
  align-items: center;
  // justify-items: center;
  min-height: 100vh;
  padding: 11rem 0 2rem;
  // padding: 2rem;
  color: var(--color-white);
  background-color: #8191e6;
  // background-color: #3b3c36;
  // background-color: #00ce7c;
  // background-color: #0e141b;
  background-color: #141b1f;
  // background-color: #0d314a;

  // background-color: var(--color-primary);

  @media screen and (min-width: $bp-sm) {
    // padding: 1rem;
    // align-content: center;
  }
}
