@use "../abstracts" as *;

.layout {
  display: grid;
  align-items: center;
  grid-gap: 10rem;
  justify-items: center;
  color: var(--color-foreground);
  padding: 23rem 1.5rem 0;
  background-color: var(--color-background);
  background-image: url("../../img/waves.png");
  background-size: 35%;
  background-repeat: repeat-x;
  background-position: bottom;

  @media screen and (min-width: $bp-lg) {
    background-size: 12%;
  }
}

.lightMode {
  --color-foreground: var(--color-dark);
  --color-background: var(--color-light);
  --color-accent-primary: var(--color-blue);
  --color-accent-secondary: #737373;
}
