@use "../abstracts" as *;

.quote {
  &__layout {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-items: center;
    grid-gap: 2rem;

    @media screen and (min-width: $bp-md) {
      // grid-auto-flow: column;
      flex-direction: row;
      grid-column: span 2;
      padding: 4rem 0;
    }
  }

  &__text {
    font-style: italic;
  }
}
