@use "../abstracts" as *;

.btn {
  position: relative;
  text-decoration: none;
  border-radius: 2rem;
  height: 3.5rem;
  background-color: transparent;
  width: fit-content;
  cursor: pointer;
  min-width: 14rem;

  &:hover {
    :after {
      transform: translate3d(4px, 4px, 4px);
      background-color: #8191e6;
    }
  }

  ::before,
  ::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12.17857vh;
    border: 1px solid #000;
    z-index: -1;
  }

  ::before {
    display: block;
    content: "";
    background-color: #fff;
    transform: translate(4px, 4px);
  }

  ::after {
    content: attr(data-title);
    display: grid;
    align-content: center;
    justify-items: center;
    color: #000;
    background-color: var(--color-yellow);
    transition: background-color 0.125s linear, transform 0.125s ease-out;
  }

  &--close {
    border: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    min-width: 4rem;
    @media screen and (min-width: $bp-sm) {
      display: none;
    }
  }
}

.hamburger {
  @media screen and (min-width: $bp-sm) {
    display: none;
  }

  &__text {
    color: black;
  }
}

.btn {
}
