@use "../abstracts" as *;

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  grid-gap: 2rem;
  height: 4rem;
  padding-bottom: 1rem;
  max-width: $bp-lg;
  color: var(--color-dark);

  & span {
    background-color: var(--color-blue-light);
  }

  &__links {
    display: flex;
    grid-gap: 2rem;
    color: inherit;
  }

  &__info {
    font-size: var(--fs-400);
  }
}
