@use "../abstracts" as *;

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  width: 100%;
  margin-top: 6rem;
  grid-gap: 1rem;
  max-width: $bp-lg;
  color: var(--color-light);

  &__links {
    display: flex;
    grid-gap: 2rem;
    color: inherit;
    background-color: var(--color-dark);
    padding: 0.2rem 0.6rem 0;
  }

  &__info {
    font-size: var(--fs-400);
    background-color: var(--color-dark);
  }
}
