@use "../abstracts" as *;

.nav {
  position: fixed;
  top: 0;
  left: 0;
  align-self: start;
  width: 100%;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  padding: 1rem;
  background-color: var(--color-background);
  z-index: var(--z-index-popup);

  @media screen and (min-width: $bp-md) {
    padding: 1rem 2rem;
    grid-template-columns: 1fr 5fr 1fr;
  }

  &__list--wrapper {
    position: absolute;
    background-color: var(--color-blue-light);
    display: grid;
    align-items: center;
    justify-items: center;
    animation: fade-in 0.4s ease-in-out;
    min-height: 100vh;
    inset: 0;
    opacity: 0;
    display: none;
    background-image: url("../../img/waves.png");
    background-size: 50%;
    background-repeat: repeat-x;
    background-position-y: 92%;

    @media screen and (min-width: $bp-md) {
      display: grid;
      opacity: 1;
      height: auto;
      background-color: transparent;
      position: relative;
      background-image: none;
    }
  }

  &__items {
    display: grid;
    grid-gap: 1rem;
    @media screen and (min-width: $bp-md) {
      grid-auto-flow: column;
      grid-gap: 2rem;
    }
  }

  &__link {
    display: grid;
    width: 100%;
    height: 100%;
  }

  &__logo {
    justify-self: center;
    width: 16rem;

    & img {
      transition: all 0.2s linear;
    }

    @media screen and (min-width: $bp-md) {
      position: static;
      justify-self: start;
    }
  }

  &__settings {
    position: relative;
    justify-self: end;
    transform: translateY(-0.5rem);

    @media screen and (min-width: $bp-md) {
      transform: translateY(0);
    }
  }
}

.settings {
  &__control {
    position: absolute;
    top: -7rem;
    left: -8rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    z-index: -1;
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    justify-items: center;
    justify-content: center;
    grid-gap: 4rem;

    & > .btn--control-code:first-child {
      transform: translateY(-9.5rem) translateX(1rem);
    }
    & > .btn--control-theme:nth-child(2) {
      transform: translateY(-4.4rem) translateX(-5.1rem);
    }

    & > .btn--control-sound:nth-child(3) {
      transform: translateY(-1.5rem) translateX(-8rem);
    }
  }
}

.hidden {
  opacity: 0;
  display: none;
}
.visible {
  opacity: 1;
  display: grid;
}

.transparent {
  opacity: 0;
  pointer-events: none;
}

.logo__letter {
  fill: var(--color-foreground);
}
