@use "../abstracts" as *;

.nav {
  position: fixed;
  top: 0;
  left: 0;
  align-self: start;
  width: 100%;
  // height: rem;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  padding: 2rem 1rem 1rem;
  background-color: var(--color-background);
  z-index: var(--z-index-popup);

  @media screen and (min-width: $bp-sm) {
    // justify-content: center;
    padding: 1rem 2rem;
    grid-template-columns: 1fr 5fr 1fr;
  }

  &__list--wrapper {
    position: absolute;
    font-family: var(--ff-display);
    background-color: var(--color-primary);
    display: grid;
    // grid-gap: 10rem;
    align-items: center;
    justify-items: center;
    // justify-self: center;
    // transition: 0.7s opacity 0.8s linear;

    animation: fade-in 0.4s ease-in-out;
    height: 100vh;
    inset: 0;
    opacity: 0;
    display: none;
    // position: fixed;
    // transform: translateX(-100%);

    @media screen and (min-width: $bp-sm) {
      display: grid;
      opacity: 1;
      height: auto;
      background-color: transparent;
      position: relative;
    }
  }

  &__items {
    display: grid;
    grid-gap: 1rem;
    @media screen and (min-width: $bp-sm) {
      grid-auto-flow: column;
      grid-gap: 2rem;
    }
  }

  &__link {
    display: grid;
    // justify-items: center;
    // align-content: center;
    // justify-content: center;
    width: 100%;
    height: 100%;
    // margin: auto;
    // transform: translateX(-0.5rem);
  }

  &__logo {
    // width: 4rem;
    display: none;

    & img {
      transition: all 0.2s linear;
    }

    // :hover {
    //   transform: scale(1.1);
    // }
    // justify-self: end;
    @media screen and (min-width: $bp-sm) {
      display: block;
      width: 5rem;
      // justify-self: flex-start;
    }
  }

  &__settings {
    // display: none;
    position: relative;
    justify-self: end;
    transform: translateY(-0.5rem);

    @media screen and (min-width: $bp-sm) {
      transform: translateY(0);
      // transform: translateY(0.5rem);
      // position: fixed;
      // top: 3rem;
      // right: 1rem;
    }
  }
}

.hamburger {
  border: none;
  transform: translateY(-0.5rem);
}

.settings {
  &__control {
    position: absolute;
    top: -7rem;
    left: -8rem;
    // margin-left: auto;
    // margin-right: auto;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    // border: 1px black solid;
    // display: flex;
    // grid-gap: 1rem;
    // align-items: flex-end;
    // grid-gap: 1rem;
    z-index: -1;
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    justify-items: center;
    justify-content: center;
    grid-gap: 4rem;

    & > .btn--control-theme:first-child,
    & > .btn--control-sound:first-child {
      // transform: translate3d(3rem, 8rem, 0);
      transform: translateY(-4.5rem) translateX(-1.5rem);
    }

    & > .btn--control-theme:nth-child(2),
    & > .btn--control-sound:nth-child(2) {
      transform: translateY(-2rem) translateX(-4rem);
      // transform: translate3d(10rem, 9.5rem, 0);
    }

    // & :first-child {
    //   transform: translate3d(1rem, 4.5rem, 0);
    // }

    // & :nth-child(2) {
    //   transform: translate3d(5.5rem, 6rem, 0);
    // }
  }
}

.hidden {
  opacity: 0;
  display: none;
}
.visible {
  opacity: 1;
  display: grid;
}
