@use "../abstracts" as *;

.surfer {
  transform: rotate(3deg);
  display: inline-block;
  max-width: 17rem;

  @media screen and (min-width: $bp-lg) {
    max-width: 23rem;
    grid-column: span 2;
  }
}

.surfer-total {
  animation: surfer-total 4s ease-in-out infinite alternate;
}

.board-legs {
  animation: board-legs 0.5s ease-in-out infinite alternate;
  //   transform-origin: center;
  transform-box: fill-box;
}

.face-total {
  animation: face-total 3s ease-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

.eyebrow-right,
.eyebrow-left {
  animation: eyebrow 3s ease-out infinite alternate;
}

.cheek-right-small,
.cheek-right,
.cheek-left {
  animation: cheeks 3s ease-out infinite alternate;
}

.mouth,
.teeth-bottom,
.teeth-top {
  animation: mouth 3s ease-out infinite alternate;
  transform-origin: bottom left;
  transform-box: fill-box;
}

.hand-left {
  animation: hand-left 1.1s ease-out infinite alternate;
  transform-origin: top right;
  transform-box: fill-box;
}

.hand-right {
  animation: hand-right 1.1s ease-out infinite alternate;
  transform-origin: top left;
  transform-box: fill-box;
}

/* WAVE ANIMATE */

.whitewater g {
  animation: whitewater 0.0076s ease-in infinite alternate;
  transform-origin: bottom right;
  transform-box: fill-box;
}

.waves {
  animation: waves 1s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

.trick {
  transform: scale(3);
}

/* SUN ANIMATE */

.sun--middle {
  animation: sunMiddle 50s infinite linear alternate;
  transform-origin: center;
  transform-box: fill-box;
}

.sun--outer {
  animation: sunOuter 70s infinite linear alternate;
  transform-origin: center;
  transform-box: fill-box;
}
