@use "../abstracts" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

* {
  scroll-margin-top: 8rem;
  &:focus {
    outline-color: var(--color-blue);
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: var(--fs-base);
  font-family: var(--ff-primary);
  line-height: 1.6;
  text-rendering: optimizeSpeed;
}

::selection {
  background-color: var(--color-yellow);
  color: var(--color-grey);
}

a:hover,
button:hover {
  cursor: pointer;
}

button {
  font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s all;
}

html {
  scrollbar-color: var(--color-blue-light) var(--color-dark);
  scrollbar-width: thin;

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-blue-light);
  }

  ::-webkit-scrollbar-track {
    background: var(--color-dark);
  }
}

input,
textarea {
  border: none;
}

table {
  contain: strict;
}

p {
  max-width: 70ch;
}
