@use "../abstracts" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

* {
  &:focus {
    outline-color: var(--color-blue);
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: calc(15px + 0.2vw);
  font-family: var(--ff-primary);
  color: var(--color-white);
  // background-color: #8191e6;
  // background-color: #3b3c36;
  background-color: #0e141b;
  // font-weight: 300;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  display: grid;
  align-content: start;
  // align-items: center;
  min-height: 100vh;
  padding: 2rem 1rem;

  @media screen and (min-width: $bp-sm) {
    padding: 1rem;
  }
}

::selection {
  background-color: var(--color-yellow);
  color: var(--color-grey);
}

a:hover,
button:hover {
  cursor: pointer;
}

button {
  font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s all;
}

html {
  scrollbar-color: var(--color-blue) #e0e0e0;
  scrollbar-width: thin;
}

input,
textarea {
  border: none;
}

table {
  contain: strict;
}

p {
  max-width: 70ch;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
