@use "../abstracts" as *;

.heading {
  &--1,
  &--2,
  &--3 {
    font-family: var(--ff-primary);
    max-width: 70ch;
    line-height: 1;
    // font-weight: 700;
    // font-weight: 900;
  }

  &--1 {
    // text-shadow: 3px 3px 0px var(--color-white);
    // font-size: var(--fs-xl);
    // line-height: 1.1;
    // letter-spacing: 10px;
    font-weight: 900;
  }

  &--2 {
    // line-height: 1;
    color: rgb(136, 146, 176);
    color: grey;
    // text-align: center;
    // padding: 2rem 0;
    max-width: 30ch;
    font-weight: 400;
    // line-height: 0.7;

    font-size: calc(var(--fs-500) * 1.3);

    & span {
      font-size: calc(var(--fs-500));
      color: #8191e6;
      // display: block;
      @media screen and (min-width: $bp-sm) {
        // font-size: calc(var(--fs-500) * 2.15);
      }
    }

    @media screen and (min-width: $bp-sm) {
      font-size: calc(var(--fs-500) * 2.2);
      line-height: 0.7;
    }
  }

  &--3 {
    text-align: center;
    color: var(--color-red);
    text-shadow: 3px 3px 0px var(--color-white);
    span {
      color: var(--color-font);
    }
  }
}

.text-width {
  max-width: 70ch;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
