@use "../abstracts" as *;

.highlight {
  color: var(--color-accent-primary);
  font-family: var(--ff-display);

  &--line {
    position: relative;
    z-index: 1;

    &::before {
      transition: all 0.3s ease-in-out;
      display: block;
      position: absolute;
      content: "";
      width: 50%;
      height: 0.3rem;
      bottom: -0.1rem;
      left: 0;
      background-color: var(--color-accent-secondary);
      z-index: -1;
    }
    &:hover:before {
      width: 100%;
      background-color: var(--color-accent-primary);
    }
  }

  &--text-primary {
    font-size: calc(var(--fs-500));
    font-weight: 400;
    color: var(--color-accent-primary);
    font-family: var(--ff-display);
  }

  &--text-secondary {
    font-family: var(--ff-primary);
    display: block;
    font-weight: 400;
    color: var(--color-accent-secondary);
  }
}

@media screen and (max-width: $bp-md) {
  .sticky__body {
    overflow: hidden;
  }
}
